footer {
    padding: 15px;
    a {
      color: green !important;
      margin: 0 10px 0 10px;
      font-size: 1.5rem;
      }
    .avisos{
      border-top: solid 2px indigo;
    }
    .redes {
        float: right;
        img {
          width: 30px;
          height: auto;
          margin: 2px;
        }
      }
  }

.modal-body p {
  font-size: 1.5rem;
}

.modal-title{
  font-size: 2rem;
}
  

 