footer {
    padding: 15px;
    a {
      color: green;
    }
    .redes {
        float: right;
        img {
          width: 20px;
          height: auto;
          margin: 2px;
        }
      }
  }
  

 