@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.card {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.card img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .card img {
    width: 100%;
  }
}

.card p {
  font-size: 2rem;
}

.card h5 {
  color: indigo;
  font-size: 4rem;
  margin-bottom: 20px;
  margin: 10px;
}

.card ul {
  padding: 20px;
  font-size: 2rem;
  list-style: circle;
  color: indigo;
}

.card__italian {
  background-color: #e8e9e9;
}

.card__mexican {
  background-color: #f3f3f3;
}

.card__spain {
  background-color: #8dccc3;
}

.card__regional {
  background-color: #eef0f2;
}

.card__japan {
  background-color: #080808;
}

.navContainer {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navContainer input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.navContainer input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.navContainer input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, -1px);
          transform: rotate(45deg) translate(1px, -1px);
  background: #232323;
}

.navContainer input:checked ~ span:nth-last-child(4) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.navContainer input:checked ~ span:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.navContainer span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navContainer span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.navContainer span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.navContainer .menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -65px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navContainer .menu li {
  margin: 20px;
}

.navContainer .menu li:hover {
  color: tomato;
}

.navContainer .menu a {
  padding: 10px 0;
  font-size: 22px;
}

.navContainer .menu a:hover {
  color: red;
}

header {
  border: solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
}

header nav {
  padding: 10px;
  text-decoration: none;
}

header nav ul li a {
  color: orangered;
}

header img {
  width: 150px;
  text-align: center;
}

footer {
  padding: 15px;
}

footer a {
  color: green;
}

footer .redes {
  float: right;
}

footer .redes img {
  width: 20px;
  height: auto;
  margin: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f1e0d4;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lobster", sans-serif;
}

h1,
h2 {
  text-align: center;
  font-size: 3rem;
}

table tbody tr td {
  padding: 20px;
}

table tbody tr th {
  padding: 36px;
}

.khaki__fila {
  background-color: khaki;
  color: indigo;
}

.lightgreen__fila {
  background-color: lightgreen;
  color: indigo;
}

.aquamarine__fila {
  background-color: aquamarine;
  color: indigo;
}

/* BLOQUE 8 */
.formulario {
  padding: 20px;
}

.formulario fieldset {
  padding: 20px;
}

.formulario boton {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.formulario boton--enviar {
  background-color: blue;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */