@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.card {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .btn {
  float: right;
  background-color: indigo;
  border-color: black;
}

@media (max-width: 768px) {
  .card {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.card.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.card.card__japan h5, .card.card__japan p, .card.card__japan ul {
  color: white;
}

.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .card img {
    width: 100% !important;
  }
}

.card p {
  font-size: 2rem;
}

.card h5 {
  color: indigo;
  font-size: 4rem;
  margin-bottom: 20px;
  margin: 10px;
}

.card ul {
  padding: 20px;
  font-size: 2rem;
  list-style: circle;
  color: indigo;
}

.card__italian {
  background-color: #e8e9e9;
}

.card__mexican {
  background-color: #f3f3f3;
}

.card__spain {
  background-color: #8dccc3;
}

.card__regional {
  background-color: #eef0f2;
}

.card__japan {
  background-color: #080808;
}

.navContainer {
  display: block;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navContainer input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.navContainer input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.navContainer input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, -1px);
          transform: rotate(45deg) translate(1px, -1px);
  background: #ff875a;
}

.navContainer input:checked ~ span:nth-last-child(4) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.navContainer input:checked ~ span:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.navContainer span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ff875a;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navContainer span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.navContainer span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.navContainer .menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -65px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navContainer .menu li {
  margin: 20px;
}

.navContainer .menu li:hover {
  color: tomato;
}

.navContainer .menu a {
  padding: 10px 0;
  font-size: 22px;
}

.navContainer .menu a:hover {
  color: red;
}

header {
  border: solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
}

header nav {
  padding: 10px;
  text-decoration: none;
}

header nav ul li a {
  color: orangered;
}

header img {
  width: 110px;
  text-align: center;
  margin: 0 20px 0 0;
}

footer {
  padding: 15px;
}

footer a {
  color: green !important;
  margin: 0 10px 0 10px;
  font-size: 1.5rem;
}

footer .avisos {
  border-top: solid 2px indigo;
}

footer .redes {
  float: right;
}

footer .redes img {
  width: 30px;
  height: auto;
  margin: 2px;
}

.modal-body p {
  font-size: 1.5rem;
}

.modal-title {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f1e0d4;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lobster", sans-serif;
}

h1,
h2 {
  text-align: center;
  font-size: 3rem;
}

.tablaVentas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 12px;
  grid-auto-flow: row;
}

.oriental {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.italiana {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

.regional_1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.regional {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.regional_2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.regional_3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

.regional_4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
}

.oriental_1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.oriental_2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.oriental_3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

.oriental_4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
}

.italiana_1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.italiana_2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

.italiana_3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 5 / 4;
}

.italiana_4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
}

.fondo_tabla__fila {
  background-image: url("../img/fondo_tabla.jfif");
}

.fondo_tabla2__fila {
  background-image: url("../img/fondo_tabla2.jfif");
}

.fondo_tabla3__fila {
  background-image: url("../img/fondo_tabla3.jfif");
}

.tablaVentas {
  margin-top: 4rem;
}

.tablaVentas .regional, .tablaVentas .oriental, .tablaVentas .italiana {
  font-family: "lobster";
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tablaVentas .regional p, .tablaVentas .oriental p, .tablaVentas .italiana p {
  background-color: aliceblue;
  color: #ff875a;
}

div[class^='regional'], div[class*='regional'],
div[class^='oriental'], div[class*='oriental'],
div[class^='italiana'], div[class*='italiana'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div[class^='regional'] p, div[class*='regional'] p,
div[class^='oriental'] p, div[class*='oriental'] p,
div[class^='italiana'] p, div[class*='italiana'] p {
  background-color: aliceblue;
  color: indigo;
}

div[class^='regional'] ul, div[class*='regional'] ul,
div[class^='oriental'] ul, div[class*='oriental'] ul,
div[class^='italiana'] ul, div[class*='italiana'] ul {
  background-color: aliceblue;
  color: indigo;
}

a {
  text-decoration: none;
}

section p {
  color: indigo;
  font-size: 2rem;
  margin: 10px;
}

.contactoHeader {
  padding: 30px;
  text-align: center;
  background-image: url("https://365psd.com/images/istock/previews/9068/90688657-food-seamless-pattern-elements-and-background.jpg");
  background-size: contain;
  background-position: center;
}

.contactoHeader h1 {
  font-size: 3rem;
  background-color: #ff875a;
  color: white;
  display: inline-block;
  padding: 5px 10px;
}

.formulario {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
}

.formulario fieldset {
  padding: 20px;
}

.formulario .boton--enviar {
  background-color: blue;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.boton {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.secciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapa {
  width: 500px;
  margin: 20px 20px 20px 20px;
  background: white;
}

.parrafo {
  width: 500px;
  margin: 20px 20px 20px 20px;
  background-color: #f1e0d4;
}

.imagenMapa {
  width: 100%;
}

.formulario {
  padding: 20px;
}

.formulario fieldset {
  padding: 20px;
}

.formulario boton {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.formulario boton--enviar {
  background-color: blue;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.estilosTextos, .subTitulo, .titulo {
  padding: 30px;
  text-align: center;
  background-image: url(https://365psd.com/images/istock/previews/9068/90688657-food-seamless-pattern-elements-and-background.jpg);
  background-size: contain;
  background-position: center;
}

.animacion, .subTitulo h2:hover, .subTitulo h3:hover, .titulo h1:hover {
  font-size: 4rem;
  -webkit-transition: 3s;
  transition: 3s;
}

.subTitulo h2, .subTitulo h3 {
  font-size: 3rem;
  background-color: #ff875a;
  color: white;
  display: inline-block;
  padding: 5px 10px;
}

.titulo p {
  color: indigo;
}

.titulo h1 {
  font-size: 3rem;
  background-color: #ff875a;
  color: white;
  display: inline-block;
  padding: 5px 10px;
}

.container {
  margin-top: 60px;
}

.carousel-caption p {
  color: white;
  background-color: black;
  opacity: 0.7;
}

.cartas .card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cartas .card img {
  width: 300px;
}
/*# sourceMappingURL=main.css.map */